body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;

  /* background-image: radial-gradient(at center, rgba(183, 152, 145, 1));
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  color: #1a1a1a; */
}

.elipse2 {
  box-sizing: border-box;

  position: absolute;
  width: 895px;
  height: 684px;
  left: -123px;
  top: 590px;

  background: linear-gradient(90deg, #b79891 0%, #d8cfaf 88.54%);
  opacity: 0.2;
  border: 1px solid #000000;
  filter: blur(250px);
}

.elipse98 {
  position: absolute;
  width: 681px;
  height: 521px;
  left: 18px;
  top: 1856px;

  background: linear-gradient(90deg, #b79891 0%, #d8cfaf 88.54%);
  opacity: 0.2;
  filter: blur(250px);
}

.elipse97 {
  position: absolute;
  width: 851px;
  height: 788px;
  left: -370px;
  top: 1300px;

  background: linear-gradient(90deg, #6f8488 0%, #6f8488 100%);
  opacity: 0.2;
  filter: blur(250px);
}

.elipse1 {
  position: absolute;
  width: 581px;
  height: 538px;
  left: -240px;
  top: -164px;

  background: linear-gradient(90deg, #b79891 0%, #d8cfaf 88.54%);
  opacity: 0.2;
  filter: blur(250px);
}

h1 {
  margin: 0;

  font-family: "Avenir Next Cyr Medium", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.wrapper {
}

.container {
  max-width: 480px;
  margin: 77px 20px 133px;
  /* padding: 0 15px; */
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

.subtitle {
  margin: 13px 0 31px;
}
